#OS junk files
[Tt]humbs.db
*.DS_Store
*.bak*
*~
*.lock
*.swp
*.out
profile

#ShareSDK
ShareSDK/*

#Xcode files
#This ignores everything inside a *.xcodeproj except the project.pbxproj
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.log
xcuserdata

*.pbxuser
*.mode2v3
*.mode1v3
*.xcworkspace

#Project files
[Bb]uild/
*.a

#do pod install yourself
Pods/*
